secret_key="" #enter your secret key
debug=1 # 1=True(debug mode), others always False.
static_dir=""#enter directory for static, default static
media_dir=""#enter directory for media, default media
login_redirect="auth:main"
logout_redirect="auth:main"
extra_allowed_hosts=""#add extra hosts if it's necessary

#postgresql.
database="" #if you need postgresql enter "postgresql" else db=sqlite3
#add your parameters and create  database for postgresql
dbname=""
user=""
host=""
port=
password=""

#superuser created if absent, login credentials
admin_user=""
admin_password=""